@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&family=Chewy&family=DynaPuff&family=Gabriela&family=Leckerli+One&family=Pacifico&family=Roboto&family=Roboto+Slab&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  background-color: #F5EEE9;
  align-items: center;
  background: url("https://i.ibb.co/6bgqgqL/pho.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.right{
  height: 100vh;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-top: 15%;

}

.left1{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}



.form{
  width: 80%;
  padding: 2vh 2vw;
  height: 44%;
  border-radius: 6px;
}

.field{
  width: 85%;
  margin: 2% auto;
  padding: 3% 0;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(159, 245, 234, 0.308);
  color: white;
  border: 2px solid #a09e9e
  ;
}

.field2{
  display: none;
}

.profilePic{
  margin-top: 1.5vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 85%;
  position: relative;

}


.Photo{

  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid saddlebrown;
  margin: auto;
}

.Photo1{

  height: 60px;
  width: 60px;
  border-radius: 50%;
}

h1{
  color: whitesmoke

}

.uploadPic{
  position: absolute;
  left: 54%;
  top: 45%;
  font-size: 2rem;
  font-weight: 800;
}

.submit{
  margin-top: 1vh;
  padding: 1vh 2vw;
  width: 38%;
 background-color: #c9ad78;
 border-radius: 50px;
  font-size: 1.3rem;
 color: black;
}

.submit:hover{
  background-color: rgb(139, 255, 6);
  color: black;
}


.routing1{
  margin-top: 2vh;
  color: rgb(245, 245, 245);
}


.rot{
  text-decoration: none;
  color: rgb(10, 126, 221);
}

.rot:hover{
  color: #e49d1b;
}

.Home{
  display: flex;
  padding: 2vh 1vw;
}

.Rightside{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.MiddleSide{
  flex: 2;
}

.LeftSide{
  flex: 1;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 7vw;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #c9ad78;
}

.sidebarButton:hover{
  background-color: #e49d1b;
  cursor: pointer;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feedWrapper{
  padding: 20px;
}

.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
    align-self: flex-start;
    color: #6f2db9;
    background-color: #b7ecf0;
    padding: 1%;
    border: 1px solid rgb(221, 207, 10);
    border-radius: 50px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500;
}
