@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&family=Chewy&family=DynaPuff&family=Gabriela&family=Leckerli+One&family=Pacifico&family=Roboto&family=Roboto+Slab&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  background-color: #F5EEE9;
  align-items: center;
  background: url("https://i.ibb.co/6bgqgqL/pho.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.right{
  height: 100vh;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-top: 15%;

}

.left1{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}



.form{
  width: 80%;
  padding: 2vh 2vw;
  height: 44%;
  border-radius: 6px;
}

.field{
  width: 85%;
  margin: 2% auto;
  padding: 3% 0;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(159, 245, 234, 0.308);
  color: white;
  border: 2px solid #a09e9e
  ;
}

.field2{
  display: none;
}

.profilePic{
  margin-top: 1.5vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 85%;
  position: relative;

}


.Photo{

  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid saddlebrown;
  margin: auto;
}

.Photo1{

  height: 60px;
  width: 60px;
  border-radius: 50%;
}

h1{
  color: whitesmoke

}

.uploadPic{
  position: absolute;
  left: 54%;
  top: 45%;
  font-size: 2rem;
  font-weight: 800;
}

.submit{
  margin-top: 1vh;
  padding: 1vh 2vw;
  width: 38%;
 background-color: #c9ad78;
 border-radius: 50px;
  font-size: 1.3rem;
 color: black;
}

.submit:hover{
  background-color: rgb(139, 255, 6);
  color: black;
}


.routing1{
  margin-top: 2vh;
  color: rgb(245, 245, 245);
}


.rot{
  text-decoration: none;
  color: rgb(10, 126, 221);
}

.rot:hover{
  color: #e49d1b;
}